<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="APP_LOG_ROOT">c:/temp</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
 

        <!-- Log levels: https://javapapers.com/log4j/log4j-levels/-->
        <RollingFile name="appLog"
            fileName="logs/application.log"
            filePattern="logs/application-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="FATAL"/>
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
 
        <!--In case you want an external log file, you can have it as a RollingFile config
             <RollingFile name="secondFile"
            fileName="C:/Users/T-Gamer/Desktop/logs/application.log"
            filePattern="C:/Users/T-Gamer/Desktop/logs/application-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1000KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
        -->

    </Appenders>

    <Loggers>
 
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>

        <logger name="com.example.algorithm.demo" level="INFO">
            <AppenderRef ref="appLog" />
            <!--<AppenderRef ref="secondFile" /> -->
        </logger>

    </Loggers>
</Configuration>